iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

label {
  font-size: 1.1rem;
}

textarea,
input[type=text] {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  border: 1px solid #cacaca;
  color: #0a0a0a;
  background-color: transparent;
}


textarea {
  max-width: 100%;
  border: 1px solid #cacaca;
}

textarea[rows] {
  height: auto;
}