/* =====================================
        Variables
====================================== */
@import url('https://fonts.googleapis.com/css?family=Nunito');


$whiteColor:  #fff;
$blackColor:  #000;
$orangeColor: #d3532c;

/* =====================================
        Styling
====================================== */
body {
  font-family: 'Nunito', sans-serif;
}

.sliderImage img{
  width: 75%;
  margin: 0 auto;
}

.btn-custom {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;

  &:hover {
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.5s;
      background-color: $orangeColor;
      color: $whiteColor;
      border-color: transparent;
  }
}

/* Events */
.eventContainer {
  border: 2px solid $blackColor;
  padding: 50px 25px;
  margin: 25px;

  a {
    margin-bottom: 50px;
    color: $blackColor;
    border-bottom: 2px solid $blackColor;

    &:hover {
      background-color: $orangeColor;
      padding: 25px;
      text-decoration: none;
      color: $whiteColor;
      transition-duration: .5s;
    }
  }
}

/* Manifesto */
.ruleCard {
  border: 1px solid $blackColor;
  padding: 25px;
  margin: 25px;
}

.number {
  background-color: $orangeColor;
  color: $whiteColor;

  padding: 5px 25px;
  margin: 0 auto 15px auto;
  text-align: center;
}
/* =====================================
        Imports
====================================== */
@import "partials/header";
@import "partials/footer";

/* =====================================
        Responsiveness
====================================== */

/*  Small Screens (ex. Phones) and (min-width: 576px) */
@media screen  and (max-width: 768px){
  @import "responsive/small";
}

/*  Medium Screens (ex. Tablets)  */
@media screen and (min-width: 768px) and (max-width: 992px){
  @import "responsive/medium";
}

/*  Large Screens (ex. Desktops)  */
@media screen and (min-width: 992px) and (max-width: 1200px){
  @import "responsive/large";
}

/*  Extra Large Screens (ex. Large desktops)  */
@media screen and (min-width: 1200px) {
  @import "responsive/extra_large";
}
